<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGIRjTe62HV0SKudfzo16GxiXWKOu8KJg</string>
	<key>GCM_SENDER_ID</key>
	<string>464484198684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shauritanga.zaccount</string>
	<key>PROJECT_ID</key>
	<string>zacaccount</string>
	<key>STORAGE_BUCKET</key>
	<string>zacaccount.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464484198684:ios:4a45b30d362bf93b7db2d9</string>
</dict>
</plist>